html, body {
    background: #ff9933;
    min-height: 100%;
    height: 100%;
}
header {
    background-color: #736b60;
    height: 95px;
}
header h1 {
	float: left;
    margin: 15px;
    text-align: left;
    font-size: 45px;
	color: #ede7d9;
    font-family: 'Bree Serif', serif;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    /* The spacing between lines*/
    line-height: 1.4;
    margin: 0;
    border: 0;
    padding: 0;
    
}



#Projects {
    float: left;
    width: 325px;
    height: 100%;
    background-color: #4b4237;
}